.response-clarification {
    padding: 0 0 1em 0;
    margin: 2em 0 0 0;
}
.response-adder dl.collapsible dd.collapsibleContent {
    padding: 1em 0 1em 1em;
}
.response-actions {
    display:block;
    padding-top:2em;
}
.response-reply {
    margin-bottom: 2em;
    border: 1px dashed #454545;
    padding: 1em;
}
.response-reply .response-actions form {
    float: left;
    margin-right: 1em;
}
.issue-attachment{
    margin-top: 2em;
}
div.collapsible dl.collapsedBlockCollapsible dt.collapsibleHeader{
    /*IE 7*/
    margin-bottom:10px;
}
table.ticketbox-overview td{
    width:20%;
}

body.template-atct_edit #datagridwidget-table-availableStates tr th:first-child,
body.template-atct_edit #datagridwidget-table-availableStates tr td:first-child,
body.template-atct_edit #datagridwidget-table-availableReleases tr th:first-child,
body.template-atct_edit #datagridwidget-table-availableReleases tr td:first-child,
body.template-atct_edit #datagridwidget-table-availablePriorities tr th:first-child,
body.template-atct_edit #datagridwidget-table-availablePriorities tr td:first-child,
body.template-atct_edit #datagridwidget-table-availableAreas tr th:first-child,
body.template-atct_edit #datagridwidget-table-availableAreas tr td:first-child{
    display:none;
    width:0px;
}