
/* Hide descirption in folder_contents */
body.section-arbeitsplatz.template-folder_contents #region-content .documentDescription {
    display:none;
}

.response-adder dl.collapsible dd.collapsibleContent {
    padding: 1em 0 1em 1em;
}
.response-adder dl.collapsible dd.collapsibleContent div.formControls {
    margin-top: 1.27em;
}
.response-actions {
    display:block;
    padding-top:2em;
}
.response-reply {
    margin-bottom: 2em;
    border: 1px dashed #454545;
    padding: 1em;
}
.response-reply .response-actions form {
    float: left;
    margin-right: 1em;
}
.response-reply .response-info {
    margin-bottom: 0.818em;
}
.issue-attachment{
    margin-top: 2em;
}

table.ticketbox-overview td{
    width:20%;
}
div.ticket-content {
    margin-top: 0.818em;    
}
table.ticketbox-overview td h3{
    font-size:11px;
    font-weight:bold;
    font-style:normal;
    color:#222222;
    line-height:15px;
    text-align:left;
    vertical-align:baseline;
    
}
/* We let show a normal div like a input:button*/
dl.collapsible dt.collapsibleHeader div.add_response {
    border-color: #111111;
    border-width: 0.1em 0.2em 0.2em 0.1em;
    color: #111111;
    cursor: pointer;
    line-height: 1.454em !important;
    padding: 0.091em 1.363em !important;
    background: -moz-linear-gradient(center top , #FFFFFF, #DEDEDE) repeat scroll 0 0 transparent;
    font-size: 1.1em;
    margin-bottom: 0;
    border: 1px solid #111111;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    vertical-align: middle;
    visibility: visible;
    width: 10em;
    font-weight: 400;
}
dl.collapsible dt.collapsibleHeader div.add_response:hover {
    color: #AE1E00;;
    border-color: #AE1E00;;
    border-width: 0.2em 0.1em 0.1em 0.2em
}
body.template-atct_edit #datagridwidget-table-availableStates tr th:first-child,
body.template-atct_edit #datagridwidget-table-availableStates tr td:first-child,
body.template-atct_edit #datagridwidget-table-availableReleases tr th:first-child,
body.template-atct_edit #datagridwidget-table-availableReleases tr td:first-child,
body.template-atct_edit #datagridwidget-table-availablePriorities tr th:first-child,
body.template-atct_edit #datagridwidget-table-availablePriorities tr td:first-child,
body.template-atct_edit #datagridwidget-table-availableAreas tr th:first-child,
body.template-atct_edit #datagridwidget-table-availableAreas tr td:first-child{
    /* do not display the ids from the datagrid-widget */
    display:none;
    width:0px;
}
